<!DOCTYPE html>
<html>
  <head>
    <style>
    
      .title_header {
        font-size: 50px;
        text-align: center;
        border-bottom: 2px solid blue;
        padding-bottom: 10px;
      }

      .left_content {
        justify-content: left;
        width: 50%;
        text-align: center;
        padding-right: 10px;
        border-right: 2px dashed blue;
        font-size: 30px;
      }

      .right_content {
        justify-content: right;
        width: 50%;
        text-align: center;
        padding-left: 10px;
        font-size: 30px;
      }

      .parent_container {
        display: flex;

      }

      .gem_image {
        width: 100%;
        height: fit-content;
      }

      .footer {
        position:absolute;
        bottom:0;
        width:100%;
        height:60px;
        background: #3e7fc8;
      }
      
      .center_link {
        text-align: center;
        font-size: 40px;
      }

    </style>
  </head>

  <body>
    <div>
      <div>
        <h1 class="title_header"> About Page</h1>
      </div>
      <div>
        <img class="gem_image" src="https://img.newatlas.com/ocean-freashwater-aquifiers.jpg?auto=format%2Ccompress&ch=Width%2CDPR&crop=entropy&fit=crop&h=347&q=60&w=616&s=ef8aad47a3fbcf06e03cf33e8ddc852f">
      </div>
      <div class="parent_container">
        <p class="left_content"> 
          Some random text that has to be seen within for my page that will appear in the paragraph on 
          the first section of the page Some random text that has to be seen within for my page that will
          appear in the paragraph on the first section of the page Some random text that has to be seen 
          within for my page that will appear in the paragraph on the first section of the page Some random
          text that has to be seen within for my page that will appear in the paragraph on the first section
          of the page Some random text that has to be seen within for my page that will appear in the paragraph
          on the first section of the page
        </p>
        <p class="right_content">
          Some random text that has to be seen within for my page that will appear in the paragraph on 
          the first section of the page Some random text that has to be seen within for my page that will
          appear in the paragraph on the first section of the page Some random text that has to be seen 
          within for my page that will appear in the paragraph on the first section of the page Some random
          text that has to be seen within for my page that will appear in the paragraph on the first section
          of the page Some random text that has to be seen within for my page that will appear in the paragraph
          on the first section of the page
        </p>
      </div>
      <div class="center_link">
        <%= link_to 'Home Page', root_path %>
      </div>
      <div class="footer">
      </div>
    </div>
  </body>
</html>