$navbar-default-bg: #051f3a;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  color: white;
}

#logo {
  float:left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

a {
  color: #b1f3ff;
}

.panel-danger {
  text-align: left;
}

.container-fluid {
  padding: 0;
}
.custom-nav {
  margin-bottom: 0;
  height: 5vh;
  background-color: transparent;
}

.custom-main {
  background-image: asset-url('black_brick.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.main-content {
  text-align: center;
  height: 90vh;
}

.main-heading {
  color: white;
  font-weight: 900;
  font-size: 10em;
  margin-top: 0;
}

.small-divider {
  margin-bottom: 35px;
  width: 520px;
}

.btn-xlarge {
  font-size: 3em;
  background-color: #ffffff;
  border-color: black;
  color: black;
  font-weight: bold;
}

.btn-xlarge:hover {
  background-color:black;
  color: white;
  border-color: white;
}

.create-article-btn {
  color: black;
}

th, td {
  padding-left: 15px;
  font-size: 16px;
}

th {
  font-size: 20px;
}

footer {
  border-top: 1px solid white;
  color: white;
  height: 5vh;
  margin-left: 80px;
  margin-right: 80px;
}

a:hover {
  color: white;
  text-decoration: none;
}

footer small {
  float: left; 
}

footer ul li a {
  float: right;
  list-style: none;
  margin-right: 5px;
}