<div class="container-fluid">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/MatthewHopwood/alpha-blog"> Repository for the Alpha Blog </a>
      by <a href="https://github.com/MatthewHopwood/alpha-blog/"> Matthew Hopwood </a>
    </small>
  </footer>
</div>